include include/header.pug 

section#contact.conatainer.text-center
    .row
      .col-md-6.formset
        .group
          form(method='post',action='/contact1').form-group.text-start
            fieldset
              legend Contact Us
              div
                label.form-label(for='name') Name:
                input#uname.form-control(type='text' name='uname')
              br
              div
                label(for='email') Email:
                input#email.form-control(type='email' name='email')
              br
              div
                label(for='phone') Phone number:
                input#pno.form-control(type='text' name='pno')
              br
              div
                label(for='textarea') Add your message
                textarea.form-control(name='text')
              br
              div 
                 input(type='submit', value='Submit')    
      .col-md-6.formset
        .group.address
          | Address: NTPL SEZ (Blueridge), IT-08/09, 10th Floor, Hinjewadi Phase 1 Rd, Hinjewadi Rajiv Gandhi Infotech Park, Hinjawadi, Pune, Maharashtra 411057
          | Hours:
          | Open 24 hours
          | Phone: 022 4050 0600
include include/footer.pug 