include include/header.pug
#home.container.text-center.text-white.headerset
    
    h2(style='color:black') Welcome to our studio
    h1(style='color:black') IT&apos;S NICE TO MEET YOU
    button.btn.btn-warning.text-white.btn-lg SUBSCRIBE
    br
    br
    br

include include/footer.pug 