include include/header.pug 

section#port.container.bg-light.text-center
    h1(style='margin-top: 55px;') Portfolio
    p
      | Your portfolio can be a space for you to express yourself, amaze any future employers, and get your work noticed.
    .row
      .col-md-4.d-block.m-auto
        .card
          img.card-img-top(src='images/simple_portfolio_website_design_inspiration_30julianweidenthaler.jpg' alt='...')
          .card-body
            h5.card-title julianweidenthaler
            p.card-text  Senior Dev.
            button.btn.btn-primary(href='#')
              | Visit Now
      .col-md-4.d-block.m-auto
        .card
          img.card-img-top(src='images/simple_portfolio_website_design_inspiration_19belancio.webp' alt='...')
          .card-body
            h5.card-title belancio Doe
            p.card-text  Frontend Dev.
            button.btn.btn-primary(href='#')
              | Visit now
      .col-md-4.d-block.m-auto
        .card
          img.card-img-top(src='images/simple_portfolio_website_design_inspiration_48workdiary.jpg' alt='...')
          .card-body
            h5.card-title Ben Sadeghipour
            p.card-text Security Researcher 
            button.btn.btn-primary(href='#')
              | Visit Now
    br
    .row
      .col-md-4.d-block.m-auto
        .card
          img.card-img-top(src='images/simple_portfolio_website_design_inspiration_30julianweidenthaler.jpg' alt='...')
          .card-body
            h5.card-title julianweidenthaler
            p.card-text  Senior Dev.
            button.btn.btn-primary(href='#')
              | Visit Now
      .col-md-4.d-block.m-auto
        .card
          img.card-img-top(src='images/simple_portfolio_website_design_inspiration_48workdiary.jpg' alt='...')
          .card-body
            h5.card-title Ben Sadeghipour
            p.card-text Security Researcher 
            button.btn.btn-primary(href='#')
              | Visit Now
      .col-md-4.d-block.m-auto
        .card
          img.card-img-top(src='images/port1.jpg' alt='...')
          .card-body
            h5.card-title Tom Hudson
            p.card-text Security Researcher 
            button.btn.btn-primary(href='#')
              | Visit Now

include include/footer.pug 