include header.pug

footer.text-center.text-lg-start.bg-light.text-muted
    // Section: Social media
    section.d-flex.justify-content-center.justify-content-lg-between.p-4.border-bottom
      // Left
      .me-5.d-none.d-lg-block
      // Right
    // Section: Social media
    // Section: Links
    section
      .container.text-center.text-md-start.mt-5
        // Grid row
        .row.mt-3
          // Grid column
          .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
            // Content
            h6.text-uppercase.fw-bold.mb-4
              i.fas.fa-gem.me-3
              | Neosoft technologies
            p
              | We&rsquo;re Building For Billions And Crafting Stories Of Bold Transformation
          // Grid column
          // Grid column
          .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
            // Links
            h6.text-uppercase.fw-bold.mb-4
              | Products
            p
              a.text-reset(href='#!') IT &amp; Consulting
            p
              a.text-reset(href='#!') Manufacturing
            p
              a.text-reset(href='#!') Media &amp; Entertainment
            p
              a.text-reset(href='#!') Telecom
          // Grid column
          // Grid column
          .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
            // Links
            h6.text-uppercase.fw-bold.mb-4
              | Useful links
            p
              a.text-reset(href='#!') Pricing
            p
              a.text-reset(href='#!') Settings
            p
              a.text-reset(href='#!') Orders
            p
              a.text-reset(href='#!') Help
          // Grid column
          // Grid column
          // Grid column
        // Grid row
    // Section: Links
    // Copyright
    .text-center.p-4(style='background-color: rgba(0, 0, 0, 0.05);')
      | &copy; 2022 Copyright: All Reserved.
    // Copyright


